@import "./variables";

@mixin displayFlex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin media-query($breakpoint) {
  @if $breakpoint == $breakpoint-sx {
    @media only screen and (max-width: $breakpoint-sx) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-sm {
    @media only screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-md {
    @media only screen and (max-width: $breakpoint-md) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-lg {
    @media only screen and (max-width: $breakpoint-lg) {
      @content;
    }
  }

  @if $breakpoint == $breakpoint-xl {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  }
}
